:root {
  --primary: #6d5afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --primary-gradient: linear-gradient(to right, var(--primary), #6ae3fe);
  --gray-700: #3e3e43;
  --gray-600: #9fa6b2;
  --gray-500: #ccd5e3;
  --gray-400: #e7effb;
  --gray-300: #f0f6ff;
}
