.formContainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submitBtn {
  font-size: 20px;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 8px;
  color: var(--white);
  background: var(--primary-gradient);
  margin-bottom: 15px;
}
