.wrapper {
  width: 100%;
  height: 54px;
  padding: 15px 16px 15px 16px;
  margin: 50px 0;
  border-radius: 10px;
  background-color: var(--gray-500);
  display: flex;
  align-items: center;
}

.button,
.input {
  border: none;
  background-color: transparent;
  color: var(--gray-700);
  font-size: 16px;
}

.input {
  width: 100%;
}

.input:focus {
  outline: none;
}
