.container {
  width: 350px;
  position: relative;
}

.inputWrapper {
  width: 100%;
  padding: 18px 15px;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
}

.inputWrapper:focus {
  border: 1px solid var(--primary);
}

.eyeSlash {
  border: none;
  background: none;
  position: absolute;
  right: 16px;
  top: 17px;
}

.errorBorder {
  border: 1px solid var(--red);
}

.errorMessage {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: var(--red);
  margin-top: 5px;
}
