.header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeLink {
  width: 210px;
  height: 40px;
  position: relative;
}

.headerSecondLine {
  margin-top: 20px;
}

.toSignupLink {
  margin-left: 10px;
  color: var(--primary);
  font-weight: 600;
}
