.container {
  width: 100%;
  position: relative;
}

.inputWrapper {
  width: 100%;
  height: 60px;
  padding: 18px 15px;
  border: 1px solid var(--gray-500);
  border-radius: 8px;
  margin-bottom: 10px;
}

.inputWrapper:focus {
  border: 1px solid var(--primary);
}

.inputLabel {
  display: inline-block;
  margin-bottom: 15px;
}

.eyeSlash {
  border: none;
  background: none;
  position: absolute;
  right: 16px;
  top: 53px;
}

.errorBorder {
  border: 1px solid var(--red);
}

.errorMessage {
  color: var(--red);
  font-size: 14px;
  font-weight: 400;
}
