.form-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form-label {
  margin-bottom: 15px;
}

.form-input {
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--gray-500);
  padding-left: 10px;
}

.form-input:focus {
  border-color: var(--primary);
}

.show-hide-password {
  border: none;
  background: none;
  position: absolute;
  right: 20px;
  top: 52px;
}

.submit-btn {
  font-size: 20px;
  width: 100%;
  height: 60px;
  border: none;
  color: var(--white);
  margin-bottom: 30px;
}

.submit-btn:hover {
  cursor: pointer;
}

.error-message {
  color: var(--red);
  height: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.error-border-red {
  border: 1px solid var(--red);
}
