.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.title {
  color: var(--primary);
  font-size: 156px;
  font-weight: 900;
}

.linkWrapper {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.linkButton {
  padding: 10px 40px;
  font-size: larger;
  text-decoration: none;
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
  transition: background-color 0.1s ease-in;
}

.linkButton:hover {
  background-color: var(--gray-600);
}
